@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

* {
  touch-action: manipulation;
}

input,
button,
select {
  font-size: 1rem;
}

.btn-tap {
  @apply active:scale-95 transition-transform;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
